# Node
node_modules/

# Idea developer tools
.idea/

# Visual Studio Code
.vscode/

# Istanbul code coverage
.nyc_output/
coverage/

# Compiles sources
test/**/*.js
src/**/*.js
lib/


